* {
  box-sizing: border-box;
}

.body {
  margin: 0;
  background-color: #c4c4c4;

}

.box {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff0000;

  @media screen and(min-width: 800px) {
    width: 400px;
    height: 400px;
  }
}